<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .cheese {
            position: absolute;
            width: 100px;
            height: 180px;
            padding: 10px;
            background-color: #ca6f1b;
            right: 44vw;
            top: -109px;
            transform: perspective(90em) rotateX(69deg);
            background-image: url(https://78.media.tumblr.com/88cd3034cd28676a214ae40f93a1896d/tumblr_o0nfwjRmB51tzjajqo1_1280.jpg);
            background-size: cover;
            cursor: pointer;
            transform: scale(0.7);
        }

        #shuffleMe {
            display: none;
            text-align: center;
            font-size: 50px;
            color: teal;
        }

        body {
            height: -webkit-fill-available;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
            color: white;
            font-family: "Raleway", sans-serif;
        }

        h1, #messages, #startBtn, #shuffleContainer {
            text-shadow: -1px 1px 1px rgba(0, 0, 0, .4), 1px -1px 0 rgba(255, 255, 255, 1);
            color: #816a4d;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
        }

        .centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        #startBtn {
            font-size: 60px;
            padding: 30px 30px;
        }


        /* CSS */
        .button-19 {
            appearance: button;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: block;
            font-family: din-round, sans-serif;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: .8px;
            line-height: 20px;
            margin: 0;
            outline: none;
            overflow: visible;
            padding: 13px 16px;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            transform: translateZ(0);
            transition: filter .2s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
            white-space: nowrap;
        }

        .button-19:after {
            background-clip: padding-box;
            background: linear-gradient(to bottom, #a07048, #582c13);
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }

        .button-19:main,
        .button-19:focus {
            user-select: auto;
        }

        .button-19:hover:not(:disabled) {
            filter: brightness(1.1);
            -webkit-filter: brightness(1.1);
        }

        .button-19:disabled {
            cursor: auto;
        }

        .button-19:active {
            border-width: 4px 0 0;
            background: none;
        }


        .forminput {
            padding: 15px;
            font-size: x-large;
            border-radius: 15px;
            background: #582c1385;
            color: wheat;
            border: 1px solid #816a4d;
            margin-bottom: 5px;
            filter: drop-shadow(2px 4px 6px black);
            width: 600px;
        }

        #formwrapper {
            height: 80vh;
        }

        .forminput::placeholder {
            color: wheat;
            opacity: 1; /* Firefox */
        }


        .stackedDeck {
            filter: drop-shadow(2px 4px 6px black);
        }

        .paper {
            padding: 50px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<h1>Mantis Tarot Falı</h1>
<div id="messages"></div>
<div id="shuffleContainer">
    <div class="stackedDeck">
    </div>
</div>

<div class="centered" id="formwrapper">
    <input class="forminput" type="text" placeholder="Adınız" name="isim">
    <select class="forminput" name="cinsiyet">
        <option value="">Cinsiyetiniz</option>
        <option value="Kadın">Kadın</option>
        <option value="Erkek">Erkek</option>
    </select>
    <select class="forminput" name="acilimturu">
        <option value="">Açılım Türü Seçiniz</option>
        <option value="Genel">Genel</option>
        <option value="İlişki">İlişki</option>
        <option value="Para">Para</option>
        <option value="Kariyer">Kariyer</option>
    </select>
    <input id="startBtn" class="button-19" type="button" value="BAŞLA">
</div>
<script>
    // When the deck is clicked this function initiates the animations used to make it shuffle
    // Then proceeds to fade out the cards and call the function to render the card selection html

    var isim;
    var cinsiyet;
    var acilimTuru;

    $(document).ready(function () {

        //Fades out the initial homepage and initiates the drop of the tarot card deck
//Please Ignore the great function titles, Frustration was kicking in and it was fun to call them weird names

        $("#startBtn").click(function () {
            isim = $("[name='isim']").val();
            cinsiyet = $("[name='cinsiyet']").find(":selected").val();
            acilimTuru = $("[name='acilimturu']").find(":selected").val();
            if (isim == "" || cinsiyet == "" || acilimTuru == "") {
                alert("Lütfen Alanları Doldurunuz!")
                return false;
            }
            $("#formwrapper").animate({opacity: 0}, 300, function () {
                $("#formwrapper").remove();
            });
            $(".stackedDeck").children().off();
            $(".stackedDeck").empty();
            for (i = 0; i < 78; i++) {
                var $element = $('<div class="cheese" id="fallingCard' + [i] + '">');
                $element.css({
                    zIndex: i,
                    top: -109 - (i * 50) + 'px'
                })
                $('.stackedDeck').prepend($element)
                $element.animate({
                    top: +367 - (i * .5) + 'px',
                }, 1500, 'linear')
            }
            ;
            setTimeout(function () {
                $("#messages").text('Kartları kesmek için desteye tıklayınız.');
            }, 1700);
        });

        $("div.stackedDeck").on("click", ".cheese", function () {
            console.log('deck is clickable');
            for (var i = 0; i < 78; i++) {
                $("#fallingCard" + [i] * 2).animate({
                    right: 25 + "vw"
                }, 1000);
                $("#fallingCard" + [i] * 2).animate({
                    top: "-=" + i * 4 + "px"
                }, 1000);
            }
            splitCards();
            shuffleCards();
            $(".cheese").prop("onclick", null).off("click");
            $(".cheese").click(function (e) {
                spreadCards();
                e.preventDefault();
                e.stopPropagation();
                return false;
            });
        })
    });

    //A step in the animation
    function splitCards() {
        for (var i = 0; i < 78; i++) {
            $("#fallingCard" + [(i * 2) + 1]).animate({
                right: 65 + "vw"
            }, 1000);
            $("#fallingCard" + [i * 2 + 1]).animate({
                top: "-=" + i * 4 + "px"
            }, 1000);
        }

        setTimeout(function () {
            $("#messages").text('Kartları dağıtmak için desteye tıklayınız.');
        }, 8200);
    };

    //function that allows a delay when the animation restacks the cards
    function shuffleCards() {
        for (var b = 0; b < 78; b++) {
            shuffleCard(b);
        }
    }

    function spreadCards() {
        for (var b = 0; b < 78; b++) {
            spreadCard(b);
        }
        spreadLastCard();
        $(".cheese").prop("onclick", null).off("click");
        $(".cheese").click(function (e) {
            selectCard(e.target)
            e.preventDefault();
            e.stopPropagation();
            return false;
        });

    }


    function spreadCard(j) {
        setTimeout(function () {
            let viewportWidth = $(window).width();
            let cardRowNumber = (Math.floor((((j + 1) * 84) + (j * 5)) / (viewportWidth - 40)) + 1);
            let maxCardOnRow = Math.floor((viewportWidth - 40) / (84 + 5))
            let cardColumnNumber = (j + 1) % maxCardOnRow
            $("#fallingCard" + cardShuffleArray[j]).css("right", "")
            $("#fallingCard" + cardShuffleArray[j]).animate({
                top: 50 + (((cardRowNumber - 1) * 140) + (10 * cardRowNumber)) + 'px',
                left: 20 + ((cardColumnNumber * 84) + (cardColumnNumber * 5)) + "px",
                zIndex: 0,
            }, 150);
        }, 100 * j);

        setTimeout(function () {
            $("#messages").text('Kart seçiniz. Kalan kart: 5');
        }, 8200);
    }

    function spreadLastCard() {
        let viewportWidth = $(window).width();
        let j = 77
        let cardRowNumber = (Math.floor((((j + 1) * 84) + (j * 5)) / (viewportWidth - 40)) + 1);
        let maxCardOnRow = Math.floor((viewportWidth - 40) / (84 + 5))
        let cardColumnNumber = (j + 1) % maxCardOnRow
        $("#fallingCard0").animate({
            top: 50 + (((cardRowNumber - 1) * 140) + (10 * cardRowNumber)) + 'px',
            left: 20 + ((cardColumnNumber * 84) + (cardColumnNumber * 5)) + "px",
            zIndex: 0,
        }, 150);
    }


    //movement of the cards back being stacked in the center of the screen

    function shuffleCard(j) {
        setTimeout(function () {
            $("#fallingCard" + cardShuffleArray[j]).animate({
                top: +367 - (j * .5) + 'px',
                right: 44 + "vw",
                zIndex: j
            }, 150);
            $("#fallingCard0").animate({
                top: +367 - (j * .5) + 'px',
                right: 44 + "vw",
                zIndex: j
            }, 150)
        }, 100 * j);
    }


    let cardShuffleArray = Array.from({length: 78}, (x, i) => i)
        .filter(x => x !== 0);

    //function that creates a randomly organized number array for the shuffling animation

    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

            // Pick a remaining element...
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            // And swap it with the current element.
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }

        return array;
    }

    var openedCards = [];

    function selectCard(targetElem) {
        const CARD_DATA = [
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-01.jpg",
                "cardName": "Asılmış Adam",
                "cardMeaning": "Bu kart; vazgeçişi, daha iyiye ulaşmak için elindekini kurban etme anlamını taşır. Ruhsal açıdan kurban etme ise kendini ibadete adamayı gösterir. Bu inanç sistemi ve olaylara bakış açısı tamamen değişebilir. Mesela özel hayatı ve iş hayatı baştan aşağıya değişebilir. Kişi, bireysel ihtiyaçlarını öne alarak diğerlerine öncelik vermekten vazgeçebilir. Yalnız bu kart diğer olumsuz kartlarla birlikte görüldüğünde cezaevine girmek ya da herhangi bir konuda suçlanmak şeklinde yorumlanabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-02.jpg",
                "cardName": "Tılsımların Kraliçesi",
                "cardMeaning": "Koruyuculuk, tecrübe ve ihtiyatlılığı ifade eden bu kart, kişinin kendi yarattığı sağlamlığa daha fazla güvendiğini söyler. Finansal özgürlük söz konusu olduğunda, oldukça sabırlı ve metin olmayı anlatır. Meslek hayatında başarı, lükse olan ilgi, güzel bir ortam, sevdiği kişi ya da şeye karşı sahiplik duygusu yine kartın olmazsa olmaz unsurlarıdır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-03.jpg",
                "cardName": "Şeytan",
                "cardMeaning": "Korku kartıdır. Bir karar verileceği zaman korkular, hatalara yol açar. Bu kart, yüzeysellik, materyalizm ve dış görünüşü simgeler. Bu kartı seçen kişi, para konusunda iyi bir işe sahip olabilir ve dış görünüşü bunda etkilidir. Bu kart, şatafat, güvence ve para için kurulan evlilikleri gösterir. Kendi çıkarı ve para için insanları kullanır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-04.jpg",
                "cardName": "Kuvvet",
                "cardMeaning": "Ruhsal sevginin kullanımını simgeler. Güç, sevgi ve anlayıştan oluşur bu kart. Bu kartı seçen kişi kendini bilir, korku ve komplekslerinden arınır. Kibarca, sakin bir şekilde amacına ulaşır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-05.jpg",
                "cardName": "Dünya",
                "cardMeaning": "Başarı, zafer ve rahat bir hayatı simgeler. Planların hayata geçirilmesi demektir. Bu kartı seçen kişi sorumluluk almayı bilir. Bu nedenle nasıl başarılı olacağını da öğrenir. Kendisine ve başkalarına saygı duyar. Kendinizi tanıma ve güzel ifade etme, maddi ve manevi mutluluğa ulaşmanızı sağlar. Bu kart, dünya seyahati anlamına da gelebilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-06.jpg",
                "cardName": "Ay",
                "cardMeaning": "Ay kartı, kişinin kendinden ya da başkalarından kaynaklanan namussuzluğu temsil eder. Bu kartı seçen kişi, aldatılmış, kendine yalan söylüyor olabilir veya başkalarına karşı sahtekarca davranıyor olabilir. Ay, titreşimleri temsil ettiğinden ayrılığı, ani değişimleri ifade ediyor olabilir. Kartı seçen kişi, hayal kırıklığına uğrayabilir. Dikkatli olun, sizin bilmediğiniz çok şey etrafınızda yaşanıyor olabilir. Ayrıca ay kartı, telepati kartıdır. Bu kişinin sezgileri güçlüdür. Uyku ve rüya görmeyi de ifade ediyor olabilir. Telepatik aktiviteyi sembolize eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-07.jpg",
                "cardName": "Kupaların Ası",
                "cardMeaning": "Duygusal konuların başlangıcı olan Kupaların Ası, size yeni bir aşk ya da sevginin haberini getirir. Kendini anlamaya odaklı bu karttaki su imgesi, duyguların dışa yansımasını ve akışını anlatır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-08.jpg",
                "cardName": "Kılıçların Uşağı",
                "cardMeaning": "Bu kartın odağı uyum, çeviklik ve esnekliktir. Bu nedenle matematik, teknoloji, yabancı dil ve mühendislik gibi konularda kariyer edinme olasılığınız yüksek denebilir. Aynı anda iki işe birden sahip olma özelliğini de taşıyan bu kart, zihinsel meşguliyet ve oyunlardan hoşlandığınızı da ortaya koyar. Bu özellikler başladığınız bir projeden çabuk sıkılma ve yeni arayışlar içine girme sinyallerini de verir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-09.jpg",
                "cardName": "Tılsımların Uşağı",
                "cardMeaning": "Sabır ve diğerlerinin görüşlerine saygı, bu kartın ifade ettiği özelliklerdir. Her şeyden ders alınabileceğini söyleyen bu kart, öğretici yapıdaki mesajlarla doludur. Açık fikirlilik tüm bu öğretileri doğru bir şekilde almayı sağlayacaktır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-10.jpg",
                "cardName": "Savaş Arabası",
                "cardMeaning": "Hislerin ve isteklerin kontrolü anlamına gelir. Bu kart, sorunların çözüldüğüne ve sıkıntılardan zaferle çıkıldığına işaret eder. Bu kartı seçen kişiler, düşüncelerinin duyarlılığını, kendilerini sorgularlar. Savaş arabası, negatif düşüncelerden uzak, tehlikenin üstesinden gelen kişilere yöneliktir. Kartın ana teması, tüm zorluklardan başarıyla çıkmaktır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-11.jpg",
                "cardName": "Ölüm",
                "cardMeaning": "Güzel, yeni başlangıçları ifade eder. Bu kart, değişiklik getiren bir açılım için çok iyi bir karttır. Yeni bir hayat ve farklı bir yaşam tarzı başlar. Eski olaylar bu kartı seçen kişiyi artık üzmez, duygusallığından kurtulmuştur. Üzüntüler arkada bırakılır, artık mutlu, sevgi dolu günler başlar."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-12.jpg",
                "cardName": "Büyücü",
                "cardMeaning": "Hırsı, arzuyu temsil eder. Düşünce gücü önemlidir bunun yanında yetenek de kendini gösterir. Bu kartı seçen erkek, hırslı bir kişiliğe sahiptir. Kendine güveni yüksektir. Bu kartı seçen kadın da kendine güvenir ve karşısındaki erkek kendini ona adar. Bu kartı seçen kişi; moda veya serbest işle uğraşır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-13.jpg",
                "cardName": "Asaların Kralı",
                "cardMeaning": "Asaların Kralı, dürüsttür ve çok yaratıcıdır. Eğlence için tartışmalı ortamlar bile yaratır, insanlara sataşmaktan keyif alır. Rekabet ortamını sever. İnsanlara sıcak davranır, yardımcı olmayı sever. Fazla hırslıdır, başarıya ulaşmak için elinden geleni yapar. Başka kişinin boyunduruğu altına giremez, kendi kendinin patronu olmak ister. Neşelidir, macerayı sever, sürekli yenilik peşindedir, girişimcidir. Gezmeyi, eğlenceyi ve sporu çok sever. Siyasette ve iletişimde iyidir. Evini seven bir erkek ve iyi bir kocadır. Meslek hayatında başarılıdır ve ileri görüşlüdür."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-14.jpg",
                "cardName": "Kılıçların Kralı",
                "cardMeaning": "Kılıçların Kralı, tam bir şampiyondur. Yaşadığı tüm zorlukların üstesinden gelir. Kararlarını, tecrübesine dayanarak sağlıklı bir şekilde verir. Dürüsttür, tarafsızdır. Genellikle eğitimci, doktor veya avukat olurlar. Olayları filozofik açıdan ele alır. Sevecen ve şefkatlidir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-15.jpg",
                "cardName": "Kılıçların Yedilisi",
                "cardMeaning": "Her ne kadar farkında olmasanız da kendi kendinizin en büyük düşmanı haline geldiğiniz bir döneme doğru giriyorsunuz. Bu dönem, ruhun ihtiyaçları üzerinde kazanılan zihinsel oyunlar ve güçlüklerle sonuçlanacaktır. Yakın geçmişinizdeki sorunların tekrarlanması olasıdır. Kendine ihanet etme durumu bu kartın en belirgin mesajıdır. Bu yüzden alacağınız kararlarda çok dikkatli olmalısınız. Kendinize zarar vermemek için içinde bulunduğunuz durumlara ve etrafınızdakilere karşı biraz daha dikkatli olmalısınız."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-16.jpg",
                "cardName": "Asaların Dörtlüsü",
                "cardMeaning": "Kartınız size mutluluk getirecek bir başarının, hedefinize ulaşmanın getireceği keyfin habercisidir. Her ne konuda bir umdunuz varsa onun meyvelerini toplayacağınız an yakındır. Bu konular bir ilişki, iş, arkadaşlık ya da bir sağlık konusu olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-17.jpg",
                "cardName": "Kupaların Dokuzlusu",
                "cardMeaning": "Hayatın eğlenceli yüzüyle yeniden buluştuğunuzu müjdeleyen bu kart, size bol para ve sağlık getirmektedir. Yaşamdan keyif almak için tüm şartlar tamamlanmıştır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-18.jpg",
                "cardName": "Kılıçların Dörtlüsü",
                "cardMeaning": "Hayatınızda atılıma geçmeyi düşündüğünüz herhangi bir şey için biraz dinlenmeye ve zamana ihtiyacınız olacaktır. Bir yandan da bunun geçici bir dönem olduğunu unutmamalısınız. Bir geri çekilmeyi ifade eden bu kart, çevreden soyutlanmayı bile beraberinde getirebilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-19.jpg",
                "cardName": "Asaların İkilisi",
                "cardMeaning": "Kartta simgelenen tüccar ve arkasındaki asa, başlamayı düşündüğünüz girişimler ile daha önce elde ettiğiniz başarıların dengesini anlatır. Tüccarın geleceğine güvenle bakan bakışları sizin içinde bulunduğunuz duruma işarettir. Amaçladığınız şey sizin için fazlasıyla anlamlıdır ve karttaki asa dünya gerçekliğini simgeleyerek, hedefiniz ile gerçekliğinizi dengelemektedir. Bu kart iş, okul ile ilgili ya da bir cevabın beklendiği aşamayı ifade eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-20.jpg",
                "cardName": "Tılsımların Sekizlisi",
                "cardMeaning": "Herhangi bir konuda eğitime hazır olduğunuz söylenebilir. Kendinizi keşfetme, bir iş ya da meslek için eğitilme, bu kartta var olan ihtimallerden bazılarıdır. Bu bir şey üzerinde çalışma şeklinde de olabilir. Daha iyi koşullarda çalışma ya da daha fazla para kazanma için kararlı olduğunuzun habercisi olan bu kart, etkinliği yüksek kişilerle tanışacağınızı da müjdeler. Şimdiden kuracağınız tüm ilişkiler ileride size parasal olarak da katlanarak geri dönecektir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-21.jpg",
                "cardName": "Kılıçların Altılısı",
                "cardMeaning": "Yaşadığınız korkunç ve hatta küçük düşürücü olaylardan sonra artık yeniden durumunuzu dengeleme zamanı gelmiştir. Bu dengeyi kurmanın tek yolu ise tüm bu yaşananlardan hızla uzaklaşmaktır. Kartınız size daha olumlu gelişmelerin haberini de vermektedir. Tüm zorlukları geride bırakıp ilerleyeceğiniz bir gelişmedir bu. Taşınma gibi fiziksel değişimler de bu dönemde karşınıza çıkar. Güçlüklerle savaşma dönemi geride kalmıştır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-22.jpg",
                "cardName": "Tılsımların Dörtlüsü",
                "cardMeaning": "Kararlılığınızın ve ekonomik gücünüzün göstergesi olan bu kart, paranın güçle eşdeğer olduğunu aktarır. Parayı elinizde tutmanızın olumlu etkilerini yaşayabilirsiniz. Diğer yandan ilişkilerde sahiplenmeyi ifade eden kartınız, genel olarak bencil ve kapalı tutuma karşı bireysel kontrol ve öz güveni temsil etmektedir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-23.jpg",
                "cardName": "Kupaların Şövalyesi",
                "cardMeaning": "Heyecan ve önseziyi içinde barındıran bir kişiliği ifade eden bu kart, hassasiyeti ve sanat eğilimini de ifade eder. Aklınızdan geçen olay romantizm ve duygusallık kuşağındadır denebilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-24.jpg",
                "cardName": "Kılıçların Kraliçesi",
                "cardMeaning": "Kendine hakim olma özelliğini vurgulayan bu kart, evli ya da herhangi bir beraberliği olanı ilişkisinde kendine fazla güvenen bir profille sunar. Kalbinden çok aklı onu yönetir. Keskin ve eleştirici, çözümleyici ve kavrayışı güçlü olabilir. Doğruluk, serbestlik, eşitlik ve eğitim en temel amaçları ifade eder. Gazetecilikten teknolojiye kadar birçok iletişim mecrası bu tip kişilerin ilgi alanıdır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-25.jpg",
                "cardName": "İmparatoriçe",
                "cardMeaning": "Aşka işaret eder, evlilik kartı olabilir. Duygusallığa, aşka, sevgiye, sevilmeye dikkat çeker. Ayrıca bu kart, anneliği ifade eder. Bu kartı seçen kadın; duygusal, ruhsal, psikolojik, zihinsel ve ekonomik açıdan güçlerine önem verir. Dekorasyon ve yaratıcı işler kendini gösterir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-26.jpg",
                "cardName": "Deli",
                "cardMeaning": "Bu kart önemli tercihler doğurur, yaşama büyük değişiklikler getirir. Burada, anahtar kelime fırsattır. Farklı bir çevre sizi bekliyor olacaktır. Bu kart, yeni başlangıçlara, fırsatlara işaret eder. Bu kartı seçen kişi, aşk konusunda hayatının fırsatını yakalayabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-27.jpg",
                "cardName": "Tılsımların Kralı",
                "cardMeaning": "Tılsımların Kralı, azimlidir, çok çalışkandır. Maddi açıdan durumu iyidir. Kazanmayı ve harcamayı iyi bilir. Doğayı ve toprağı sever. Gözüyle görmediği şeylere inanmaz, şüpheyle yaklaşır. Tutucudur, geleneklerine bağlıdır. Çevresinden bağlılık ve saygı görmek ister. Sevgisini para harcayarak gösterir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-28.jpg",
                "cardName": "Asaların Uşağı",
                "cardMeaning": "Gayret, hırs, cesaret, enerji ve kişilik bu karta özgü unsurladır. Herkesin içinde fark edilmeyi ve doğal liderlik yeteneklerinizi sergilemeyi seviyorsunuz. Eğer ki, içinde bulunduğunuz yeni bir durum varsa bu konuda kararlı ve risk alır konumda olduğunuzu söylemek mümkün. Farklılığınızı öne çıkarmak için bu aralar antrenörlük, atletizm, satış ve öğretmenlik gibi konularda girişimlerde bulunabilirsiniz."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-29.jpg",
                "cardName": "Baş Rahip",
                "cardMeaning": "Bu kart, tutuculuğa, düzenli aile yaşamına ve gelenekselliğe işaret eder. Evlilikte ise birlik ve beraberliği simgeler. Baş Rahip, içten gelen sesin dinlenmesini ifade eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-30.jpg",
                "cardName": "Kılıçların Şövalyesi",
                "cardMeaning": "Hiç beklemediğiniz olaylara hazır olun. Saldırgan, alaycı ve ukala tavırlar hakim olabilir. İş alanlarınız hukuk, mühendislik, ekonomi ve teknoloji gibi heyecan verici alanlar olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-31.jpg",
                "cardName": "Baş Rahibe",
                "cardMeaning": "Aklınızdaki soruları temsil eder, gelecek kaygıları içerir. Koşullar değişkenlik gösterebilir. Sezgisel güçler kuvvetlidir. Bu kart, rastgele olacak değişimlere işaret eder. Bu kartı seçen kişi, içinden gelen sesi dinlemelidir. Burada kadın, hislerine dayanarak hareket eder, uyumludur ve mutludur."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-32.jpg",
                "cardName": "Aşıklar",
                "cardMeaning": "Bu karttaki kişi kendini iyi bilmelidir. Bu kart, evliliğin ve dengeli bir ilişkinin simgesidir. Tam bir sağlık kartı diyebiliriz bu kart için. Bu kart, ikizler burcuna adanmıştır. Bu yüzden mantık ön plandadır. Dengeli ve uyumlu olduğundan şanslı sayısı 6’dır. Duygusal ve zihinsel görüşler kişiyi mutlu eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-33.jpg",
                "cardName": "Denge",
                "cardMeaning": "Tam bir sanat kartıdır. Sabit bir durumu ifade eder. Bu kartı seçen kişiden orta bir yol bulunması için uzlaşmacı bir tavır beklenir. Ana temel, orta yolu bulmaktır, dengeyi kurmaktır. Bu kart, doğru uyuma işaret eder. Bu kartı seçen kişi, zor bir ikilem yaşarsa inançlarını pratiğe dökmek zorunda kalabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-34.jpg",
                "cardName": "Kupaların Kraliçesi",
                "cardMeaning": "Çok hassas, sezgisi güçlü, karşısındaki fazlasıyla önemseyen bir profil çizen özellikler bu kartın odak noktasıdır. Dolayısıyla duyguların çevrelediği bu özellikler duygusal çalkantılara zemin hazırlamaktadır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-35.jpg",
                "cardName": "Adalet",
                "cardMeaning": "Dengeyi ve olumlu kararları simgeler. Özellikle hayatın dengesini kuran hareket, bu kartı ifade eder. Bu kartı seçen kişi; kalp, zihin, ruh sağlığı, materyalizm, iş ve hareket için eşit zaman garantisiyle hayatını düzenlemeye başlar. Bu kişi, adaleti sağlamak için iç dürtülerini kullanır. “Ne ekersen onu biçersin” adalet kartının temel anlamıdır. Ayrıca bu kart, okulu sembolize eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-36.jpg",
                "cardName": "Tılsımların Şövalyesi",
                "cardMeaning": "Projelerinize yapılacak maddi ya da manevi yardımlarla paylaşıma gidebilirsiniz. Para ve sağduyuyu ifade eden bu kart, güvenilirlik, kararlılık ve dürüstlüğü anlatır. Hayatınızda temel ve rutin mutlulukları istemeniz, para ve herhangi bir şeye sahip olma eğiliminizle örtüşür. Çok konuşkan olmamayı anlatan bu kart, tercih edilen işleri endüstri sektörü, makineler, fabrikalar ve matematik bilgisi isteyen alanlarla ifade etmiştir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-37.jpg",
                "cardName": "Asaların Kraliçesi",
                "cardMeaning": "İktidar ve sıcaklığın olağanüstü harmanı görülür. Başarı ve daha iyiye ulaşma iş ve özel hayatta motivasyonu getirmektedir. Sosyal hayat, politika, spor ve yaratıcılık isteyen alanlarda sürekli bir gelişim isteği vardır. Bu karta tiyatro, özgürlük ve kendini ifade etmeye yarayan her şey ilgi alanına dahildir. Aile ve arkadaşlarınız içinde sevilen ve imrenilen biri olmak bu tür isteklerden ve yeteneklerden ileri gelmektedir. Zaten bunlar büyük ölçüde başarılmış şeylerdir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-38.jpg",
                "cardName": "İmparator",
                "cardMeaning": "Tüm planların gerçekleşeceğine işaret eder. Liderlik ve güç bu karttadır. Mantık ön plandadır. Bu kartı seçenin analiz yeteneği güçlüdür, sorumluluk sahibidir ve öz güveni yüksektir. İmparator, tam disiplinli bir babayı simgeler. Bu kişiler genelde yüksek makama gelecektir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-39.jpg",
                "cardName": "Kupaların Kralı",
                "cardMeaning": "Kupaların Kralı, hayatın anlamını bilir, zekidir. Samimi bir kişiliği vardır. Kart üzerinde dalgalar halinde akan su, yaptıklarının ne kadar anlamlı olduğunu ve duygusal yönünü simgeler. Hukuk, tıp ve danışmanlık ilgi alanlarıdır. Ayrıca sanatla ilgilenir, yaratıcıdır. Psikolojiye meraklıdır. Duygusal enerjisi yüksektir, inançlıdır, maneviyata önem verir. Hayal gücü kuvvetlidir. Sorumluluk sahibidir, ilk bakışta sessiz görünür ama zamanla samimiyeti ortaya çıkar."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-40.jpg",
                "cardName": "Yıldız",
                "cardMeaning": "Yıldız kartı, kartı seçen kişinin arzularını ve düşlerini ifade eder. Güven ile doğal yetenekleri aramayı gösterir. Olumlu, pozitif düşünce, iyi ruh ve fiziksel sağlığı simgeler. Meditasyon, bu kart ile sembolize edilir. Bu kartı seçen kişiyi, yeni yetenekler bulması, yaratıcı hedeflere ulaşması için destekleyin."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-41.jpg",
                "cardName": "Asaların Şövalyesi",
                "cardMeaning": "Eğer odağınız bir kişi değilse, bu kart size hayatınızda meydana gelecek çok önemli olayları haber vermektedir. Kartın vurguladığı karakter özellikleri ise açık sözlü, komik, insanları seven bir profildir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-42.jpg",
                "cardName": "Güneş",
                "cardMeaning": "Yeniden doğuş anlamını taşır. Bu kart, başarı ve mutluluğu getirir. Eğitimde, kariyer ve sanatsal alanda başarı sağlanacağı anlamına gelir. Aile ve aşk ele alındığında bir evlilik kartı olabilir. Sağlığın iyi olması demektir. Liderlik kavramı bu kartla bağdaştırılır. Sorunların üstesinden gelinir adeta yeniden doğulur. Bu yeniden doğuş fiziksel değişimle de kendini gösterir. Öz güven bu kartın simgesidir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-43.jpg",
                "cardName": "Kader Çarkı",
                "cardMeaning": "Ödüllere ve fırsatlara işarettir. Bu kartı seçen kişi olayları kendi lehine çevirebilir. Bu kart, başarıyı simgeler. Pek çok fırsat doğacak anlamına gelir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-44.jpg",
                "cardName": "Asaların Ası",
                "cardMeaning": "Asaların ası bir istek, girişim, enerji ya da cesaretin içinde yer aldığı bir başlangıçla karşılaşacağınızı ifade eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-45.jpg",
                "cardName": "Asaların Altılısı",
                "cardMeaning": "Başarı ve zaferi müjdeleyen bu kart, harcanılan emeklerin ödülleneceğini anlatır. Seçimlerinizin ya da çaba harcadığınız bir idealin daha iyi konumlarda çözümlenmesi beklenir. Azimli tavrınız ve güçlü isteğiniz yüzünüzü güldürecektir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-46.jpg",
                "cardName": "Kupaların İkilisi",
                "cardMeaning": "Mantık ve duyguyu dengeleyen bu kart, dostluk, aşk ya da herhangi bir ilişkideki paylaşımın önem ve dengesini ifade eder. Yani maddiyatla dengelenmiş bir aşk ya da dostluk gibi bir dengeden bahsedilir. Ayrıca semboller çift arasındaki çekimi de anlatmaktadır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-47.jpg",
                "cardName": "Kılıçların Beşlisi",
                "cardMeaning": "Etrafınızdaki birini incitebilirsiniz. Birini incittiğinizde aslında kendinizi inciteceğinizi aklınızda bulundurmalısınız. Kartın ifade ettiği bir diğer anlam ise elde etmeyi istediğiniz şeylere ulaşma ve bunu yaparken biraz hile kullanabilme durumunuzun olmasıdır. Bu kurnazca tutum bir başkasının sizi yönlendirmesiyle de olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-48.jpg",
                "cardName": "Kılıçların Onlusu",
                "cardMeaning": "Umulmadık bir olumsuzluk ya da yürümeyen planlar görülebilir. Başarısızlıklar sizin geçmişte temelini attığınız bir durumdan kaynaklanabildiği gibi sizin dışınızdaki bir nedenden de kaynaklanabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-49.jpg",
                "cardName": "Kılıçların Sekizlisi",
                "cardMeaning": "Kendi ihtiyaç ve düşüncelerinizi ikinci plana attığınız ve başkalarının sizi yönlendirmesine izin verdiğiniz bir dönemdesiniz. Daha önce kararlılıkla hareket ettiğiniz tutumunuz artık yerini kararsızlığa bırakmıştır. Bu durum sizin önceki tutumlarınızda çok fazla hırslı olmanızdan da ileri gelebilir. Dolayısıyla seçim yapmaktan korktuğunuz bir durumda olduğunuz bile söylenebilir. Düşünsel anlamda huzura ulaşmanız biraz zaman alacaktır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-50.jpg",
                "cardName": "Tılsımların Dokuzlusu",
                "cardMeaning": "Parasal kazanç, güven artışı, kararlılık, kendine güven ve bağımsızlık hakimdir. Hayatın güzel şeylerinden yalnız başına zevk alma, bahçe ve ev sevgisi de bu kartın sunduğu haberlerdendir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-51.jpg",
                "cardName": "Asaların Üçlüsü",
                "cardMeaning": "Daha önce alınan riskler, gelişme olarak geri dönmektedir. Kart size başarı, gelişim, olumlu sonuçlar, paylaşım dolu çabalar ve yardımsever öğütleri haber vermektedir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-52.jpg",
                "cardName": "Kupaların Sekizlisi",
                "cardMeaning": "Hayatınızda bazı vazgeçişler ortaya çıkabilir. Yeni bir anlam ve amacın peşine düşebilirsiniz. Duygusal ve ailevi konular geride kalmaya başlamıştır ve ilişkileriniz zayıflayıp kopma noktasına dahi gelebilir. Toplum hayatı ile ters düşerek kendiniz için yeni bir araştırmaya başlamayı tercih edebilirsiniz."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-53.jpg",
                "cardName": "Kılıçların Ası",
                "cardMeaning": "Gücü temsil eden bu kart, kendinizi her zamankinden daha güçlü hissedeceğiniz bir döneme işaret eder. Kartta görülen dağlar bazı engelleri ifade etse de krallığın sembolizmi, bu sorunların çözülmeye başladığını ya da çözüleceğini ifade eder. Sorun her neyse zihin gücüyle zafere ulaşmanız mümkündür, üstelik komplike kurgulara ihtiyaç duymadan. Aksine bu süreçte gayet dürüst ve ilkeli bir dengede sorunları barışçıl bir şekilde çözmeniz mümkün."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-54.jpg",
                "cardName": "Kupaların Üçlüsü",
                "cardMeaning": "Gelişen ve hızla ilerleyen bir ilişkinin habercisi olan bu kart, mutlu sonuçlar doğuracak ya da uzun vadeli ve ciddi bir ilişkinin temellerinin atılacağı bir dönemi ifade eder. Hayatınızda olan biriyle gelişen bir ilişki beklentisi ile hayatınızda biri yoksa doğru adayın çıkacağını söylemek mümkündür. Hatta evlilik, nişan ya da söz gibi planların yapılacağı bir süreç başlamaktadır. Diğer yandan başarı ile sonuçlanmış bir mezuniyet, kariyerde yükseliş, doğum, önemli bir gününü yıldönümü ya da bir iş sahibi olma gibi gelişmeler de bu kartın verdiği haberler içindedir. Dolayısıyla sahip olduğunuz yeteneklerin en olumlu yanlarıyla tanışmanızdan söz edilebilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-55.jpg",
                "cardName": "Asaların Dokuzlusu",
                "cardMeaning": "Daha önceki deneyimlerinizden ötürü biraz daha temkinli ve savunma halinde olduğunuz söylenebilir. Öyle ki, kendinizi savunmak için ciddi bir tartışma veya kavgaya bile hazırlıklısınız. Halihazırda mücadele ettiğiniz bir sorununuz varsa henüz halledemediğiniz için biraz dikkatli olmanızda fayda var. Geçmişteki bir ilişki ya da sağlık sorunu tekrar gündeme gelebilir, hazırlıklı olmalısınız."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-56.jpg",
                "cardName": "Asaların Yedilisi",
                "cardMeaning": "Girişimlerinizde inişler-çıkışlar yaşadığınız bir dönem ardından, düşüncelerinizde ısrarcı olmaya devam edebilirsiniz. Hatta kendi içinizdeki mücadele ciddi savunma örnekleri göstermenizi ve inatçı olmanızı beraberinde getirir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-57.jpg",
                "cardName": "Münzevi",
                "cardMeaning": "Bu kart akıl verme anlamını taşır. Kartı seçen kişi, kendi kararlarını tek başına ve mantıklı bir şekilde veren biridir. Kendi fikirlerine ve kararlarına güvenir. Sadece güvenilir birinin size yol göstermesine izin verirsiniz."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-58.jpg",
                "cardName": "Kılıçların Dokuzlusu",
                "cardMeaning": "Psikolojiniz ile ilgili sıkıntılar baş gösterebilir;  bunalım, paranoya gibi. Bu sorunların kaynaklandığı kişi sevgiliniz ya da size ruhsal anlamda zarar verebilecek kadar sizi etkisi altında bulunduran biri olabilir. Karşılaşacağınız tehdit ve suçlamalara hazır olmalısınız. Bu durumlara göstereceğiniz zayıflık, sizi kendinizden utanma ve nefret etme gibi duygulara sürükleyebilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-59.jpg",
                "cardName": "Kupaların Yedilisi",
                "cardMeaning": "Sizi tetikleyen ve motive eden şeylerin etkisinden uzak hatta onların ne olduğunu bile bilmediğiniz bir dönemdesiniz. Gerçekte var olmayan sadece hayal ürünü olan şeyleri de ifade eden bu kart, bu hayaller için fazla zaman harcadığınızı da bildirmektedir. Tüm bunlara sizi dış dünyadan koparan aşırı alkol tüketimi ya da bilgisayar ve televizyon gibi unsurlar neden olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-60.jpg",
                "cardName": "Kılıçların Üçlüsü",
                "cardMeaning": "Dramatik sahnelerin habercisi olan bu kart, hayatta bazen karşılaşmak zorunda olduğumuz talihsiz durumların her ne kadar atlatılabileceğini bilse de sıkıntılı günlere karşı uyarır. Şu anda hayatınızda bulunan bir durum sizden uzaklaşmaktadır. Şöyle düşünmek gerekir ki; size faydası olmayan bir şey ya da kişi kaybedilmelidir zaten."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-61.jpg",
                "cardName": "Asaların Beşlisi",
                "cardMeaning": "Bu kartın hakim olduğu duygu rekabet ve çekişmedir. Karşılaşma olasılığınız olan tartışma ve kışkırtmalara karşı güçlü durmanız faydanıza olacaktır. İş, aşk ya da aile yaşamınızda ciddi uyuşmazlıklar ve düşünce ayrılıkları yaşanabilir. Karşınızdakiler bencilce davranabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-62.jpg",
                "cardName": "Kılıçların İkilisi",
                "cardMeaning": "Duyguların yoğunluğu göze çarpmaktadır. Duygularınıza sırtınızı döndüğünüz, olan biteni tam anlamıyla göremediğiniz bu dönemde, içinde bulunduğunuz durumun netleşmesini beklediğiniz söylenebilir. Hareketten ziyade durgunluğun hakim bu süreçte bir dengeye ihtiyaç duyabilirsiniz. Dolayısıyla gerçeklikler ve duygularla yüz yüze gelmekten kaçınmaktasınız. Alacağınız kararları bir şekilde erteleme meyili görülmektedir. Ancak bu durum alınacak kesin bir kararla sona erecektir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-63.jpg",
                "cardName": "Tılsımların Beşlisi",
                "cardMeaning": "Fiziksel ya da ruhsal açıdan sorunların yaşanması, bazı kayıpların ortaya çıkması beklenen olumsuz gelişmelerdir. Bunların bencilliğin bir cezası olarak yorumlanması da muhtemeldir. Parasal konularda ise gelir düşüklüğünün bir göstergesi olan bu kart, aşk hayatında da yalnızlığın habercisidir. Önceden güvendiğiniz şeylere olan inancınızı da kaybedebilirsiniz."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-64.jpg",
                "cardName": "Kupaların Onlusu",
                "cardMeaning": "Aile, uyum ve gerçek sevginin yoğunluğu söz konusudur. İçinde bulunduğunuz durum olumluluğunu korumaya devam edecektir. İlişkilerde sürekliliği sağlamak adına evlilik ya da ortaklıklar gibi durumlar ortaya çıkabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-65.jpg",
                "cardName": "Kupaların Uşağı",
                "cardMeaning": "Duygular dünyasında huzur ve mutluluk veren, cezbeden ve karşılık bulacağınız günler sizi bekliyor. Bu kart kibarlık, sempati, sanat yeteneği, hasiyet, hayal gücü, sevme ve önsezinin sizinle olduğunu ifade eder. Özellikle sanatla ilgili atacağınız adımlarda disiplini elden bırakmamanız gerekiyor."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-66.jpg",
                "cardName": "Asaların Onlusu",
                "cardMeaning": "Kapasitenizin ya da koşullarınızın çok üstüne bir işe giriştiğiniz ya da girişmeyi düşündüğünüz bir dönemdesiniz. Bu kart bazen bir baskıyı bazen de hırstan kaynaklanan başarısızlığı ifade etmektedir. Gerçekleştirmeyi düşündüğünüz girişimlerin başarısızlığa uğrama nedenlerinin başında yeterli zaman ayırmayışınız ve fazla vaat sunuyor olmanız geliyor. Sağlık açısından ise belkemiği, sırt, iskelet, kas ve bazen de kalbinizle ilgili sorunlar yaşayabilirsiniz. Sağlık sorunları ise kendinize fazlasıyla sorumluluk ve iş yüklemeyle alakalı olabilir. Kendinize fazla yüklenmemeniz faydanıza olacaktır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-67.jpg",
                "cardName": "Kupaların Dörtlüsü",
                "cardMeaning": "Artık dünyevi olaylardan uzaklaştığınız, duygusal anlamda da çaba harcamaktan yorulduğunuz bir dönemdesiniz. Dolayısıyla yeni ortam ve durumlara kapalı olduğunuzu ifade eden bu kart, kabuğunuza çekileceğiniz bir dönemin yaklaştığını söyler. İşin iyi yanı, bu dönemin işinizi hatta yaşam tarzınızı yeniden gözden geçirmeye müsait olduğudur."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-68.jpg",
                "cardName": "Kupaların Beşlisi",
                "cardMeaning": "Bir konunun bitmesine ilişkin aldığınız kararların ve bu kararın getirdiği kayıpların habercisi olan bu kart, bitişlerin biraz can sıkıcı ve kırıcı olması yönünde sizi uyarmaktadır. Yaşayacağınız bu kayıpların üzerinde fazla durmamalı ve umutsuzluğa kapılmamalısınız. Hala elinizde bulunan değerlere odaklanmanız daha doğru olacaktır. Bazen bu kayıpların daha sonra kazanca dönüşebileceğini hatırlatan kart, aynı zamanda büyük değişimlerin de sözcüsüdür."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-69.jpg",
                "cardName": "Yıkılan Kule",
                "cardMeaning": "Bu kartı seçen kişi eğer bir şeyin karşısında değilse bu kart güçlüklere işaret eder. Bu kartı seçen kişi için dürüstlüğü simgeler. Yoldan çıkarıcı eğilimler olacak ama doğru yol bulunacaktır. Kişisel bilgiyi arzuluyorsanız bu kart olumlu bir kart olabilir. Sağlık açısından hastalığa işaret edebilir. Yıkımlar daha çok iş, aile, ev ve psikolojik açıdan olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-70.jpg",
                "cardName": "Tılsımların Yedilisi",
                "cardMeaning": "Başarısızlık ve tatminsizlik duygusu hakim olabilir bu dönemde. Çok fazla önem verilen bir şey, hissettiğiniz bir memnuniyet duygusu veya bir başarıyı kaybetme olasılığınız var. İçinizden bir his sizi kariyer, eğitim, maddi ve manevi amaçlarla ilgili daha ileri hedeflere doğru itiyor olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-71.jpg",
                "cardName": "Tılsımların Altılısı",
                "cardMeaning": "Size sıkıntı yaratan olayların bitmesi ve parasal anlamda yaşayacağınız bir ferahlamanın dengesi göze çarpıyor. Bu dönemde yapılacak yatırımlar, katlanarak geri dönecektir. Yatırımı sadece iş anlamında düşünmemek gerekir. Bir kişiye hatta eğitim alan birine yapılacak yardım da olabilir bu. Dolayısıyla sadece parasal anlamda bir kar değil, manevi anlamda da iç huzur sağlayacak karlılık da söz konusudur."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-72.jpg",
                "cardName": "Tılsımların Üçlüsü",
                "cardMeaning": "Tılsımların Üçlüsü, iş, yetenek, eğitim ve parasal konulardaki gelişmeyi gösterir. Bu kartta, yetenekleri ile çalışan usta bir zanaatkarı görürüz. Bir caminin iç kısmındaki işçiliği, hayattaki bir olayı başarmayı, beceriyi gösterir. Bu kart aynı zamanda, terfi, tanınma, ün, derece ve sertifika gibi seçilen bir alanda başarabilme gücünü ifade eder."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-73.jpg",
                "cardName": "Tılsımların Onlusu",
                "cardMeaning": "Bu kart sağlam ve iyi koşulların habercisidir. Aklınızdan geçen fikirlerde kararlılık ve güven hakimdir. Bu kart aynı zamanda hayatınızın bir aşamasından diğerine geçişi de ifade eder. Bu ilişki durumunda bekarlıktan evliliğe, işsizlikten iş sahibi olmaya gibi birçok konuda olabilir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-74.jpg",
                "cardName": "Tılsımların İkilisi",
                "cardMeaning": "Hayattaki değişikliklerin sonsuz olduğunu ifade eden bu kart, yaşamınız süresince karşılaşacağınız tüm değişimlerin normal olduğunu ve bu tip dalgalanmalar hazırlıklı olmanız gerektiğini hatırlatır. Yaşadığınız olaylar sizi atlattığınızı düşündüğünüz noktalara geri döndürebilir. Genellikle sizin elinizde olmayan bu akışın hayatınıza bir anlam ve hareket kattığını düşünmelisiniz. Günlük yaşamda farklı sorumluluklar, parayı değerlendirme ya da halihazırda var olan iş ya da bir değeri riske atarak yeni başlangıçlara yol alma da bu değişimlerin içindedir. Dolayısıyla alacağınız tutum esnek olmalıdır çünkü hayat iniş ve çıkışları içinde barındırır."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-75.jpg",
                "cardName": "Asaların Sekizlisi",
                "cardMeaning": "Kendinize çizdiğiniz hedefe doğru oldukça yaklaşıyorsunuz. Hayalleriniz, umutlarınız ve duyduğunuz özlemler hızlı bir gerçekleşme dönemine girmiş durumda. Bu amaç doğrultusunda çok derin bağlılıklar yaşayabilirsiniz. Bu bağlılık aşk hayatınızla ilgili de olabilir. Spor gibi fiziksel anlamda sizi formda tutacak aktivitelere yönelebilirsiniz. Tüm bunların dışında uçakla gerçekleştireceğiniz bir yolculuk ile karşılaşabilirsiniz."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-76.jpg",
                "cardName": "Uyanış",
                "cardMeaning": "Kişisel güçlerin daha çok farkına varılması ve kullanılması anlamına gelir. Bu kartı seçen kişi artık korkularından ve problemlerinden kurtulmuştur. Kendi gücünü ve enerjisini kullanarak mutluluğa kavuşur. Bu kartın ödülleri; ruh, akıl ve kalp arasındaki uyumdur. Kurtulma, bu kartı simgeler. Bu kartı seçen kişi, birinden kurtulmuş olabilir. Bu kurtuluş her alanda olabilir. Bu kişi, önemli konularda kendi iç sesini dinlemeli ve başkalarına aldırış etmemelidir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-77.jpg",
                "cardName": "Kupaların Altılısı",
                "cardMeaning": "Çocukluğunuza dair mutlu anılar, geçmişten gelen hayalleriniz ve mutlu bir araya gelişler bu kartın vazgeçilmez mesajlarıdır. Duygusal ve ailevi konular çok güzel bir uyum içine girmektedir. Evinize alacağınız yeni eşyalar olabilir veya evinizde vereceğiniz eğlenceli toplantılar bu dönemde yaşanabilir. Özel gün kutlamaları da bu dönemin içindedir."
            },
            {
                "cardImg": "http://www.hurriyetaile.com/public/images/tarot/tarot-90x150/tarot-kart-78.jpg",
                "cardName": "Tılsımların Ası",
                "cardMeaning": "Somut olayların habercisi olan tılsımların ası, sabreden ve bilgi biriktirenlerin mükafatına ulaşacağını ifade eder. Hayatınızdaki herhangi bir başlangıç ki bunlar; iş, mülkiyet, bir şeye sahip olma ya da satın alma olabilir, gerçekliği olan sonuçlara işaret eder."
            }
        ]

        let selectedCardIndex = targetElem.id.replace('fallingCard', '')
        let selectedCard = CARD_DATA[selectedCardIndex];
        console.log(openedCards);
        if (openedCards.length < 5) {
            if (openedCards.filter(x => x.cardName === selectedCard.cardName).length === 0) {
                openedCards.push(selectedCard);
                $("#messages").text(`Kart seçiniz. Kalan kart: ${5 - openedCards.length}`);
                if (5 - openedCards.length == 0) {
                    $("#messages").append('<button class="btn button-19" style="margin-top: 20px;" onclick="seeResult()">Sonuçları Gör</button>')
                }
                $(`#${targetElem.id}`).animate(
                    {opacity: 0.7},
                    100,
                    function () {
                        targetElem.style.backgroundImage = "url(" + selectedCard.cardImg + ")";
                        $(`#${targetElem.id}`).animate({opacity: 1}, 400);
                    }
                )
            }
        }
    }

    function seeResult() {
        $(".stackedDeck").animate(
            {opacity: 0},
            3000,
            function () {
                $(".stackedDeck").remove();
                let _openedCards = openedCards.map(c => {
                    return {"name": c.cardName}
                })
                let postData = {
                    "cards": _openedCards
                }

                $.ajax({
                    type: "POST",
                    url: `http://localhost:5000/api/v1/hello?name=${isim}&gender=${cinsiyet}&fal_type=${acilimTuru}`,
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(postData),
                    success: function (data) {
                        $("#shuffleContainer").css("background", "url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsX29mZmljZV8yNF92aW50YWdlX3BhcGVyX2JhY2tncm91bmRfZWxlZ2FudF9taW5pbWFsX2ZyYV9hYzljZDRlYS00OGEwLTQxZWQtOTQ5My0zMDI3ODc3NTczYjhfMS5qcGc.jpg)")
                        $("#shuffleContainer").css("background-size", "cover");
                        $("#shuffleContainer").css("margin", "30px");
                        $("#shuffleContainer").css("filter", "drop-shadow(2px 4px 6px black)");
                        let resultHtml = data.msg.split('\n\n').map(p => `<p>${p}</p>`).join('');
                        $("#shuffleContainer").append(`<div class="paper">${resultHtml}</div>`);
                        console.log(data);
                        $("button").text("Tekrar Dene")
                        $("button").off();
                        $("button").on("click", function () {
                            location.reload();
                        });

                    }
                });

                // $("#shuffleContainer").append(openedCards.map(c=>`<p>${c.cardName} kartı açıldı: ${c.cardMeaning}</p>`).join('<br>'))
            });
    }

    cardShuffleArray = shuffle(cardShuffleArray);
</script>
</body>
</html>

